<h1><%= @person.name %>
<p>/friends/<%= @person.id%></p>
<h4>My dear <%= @person.age %> year old, <%= @person.hair_color %> haired, <%= @person.eye_color %> eyed friend.</h4> 

<%= link_to 'Back', people_path %>